.p-card {
  border-top: 3px solid #a87ca0;
  box-shadow: 0 2px 2px 0 #ccc, 0 2px 2px -1px #ccc, 0 0 3px 0 #ccc;
}

.topic-title {
  text-transform: uppercase;
  text-align: start;
  padding: 20px 0 0 20px;
}
